@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

.button {
    font-size: var.$font-size-sm;
    font-weight: var.$font-weight-regular;
    padding: var.$spacing-xs;
    border: 1px solid var.$color-neutro-700;
    border-radius: var.$spacing-xs;
    box-shadow: var.$box-shadow-md;
    cursor: pointer;

    &--add {
        background-color: var.$color-primary-200;
        color: var.$color-primary-800;
        border: 1px solid var.$color-primary-400;


        &:hover,
        &:active {
            background-color: var.$color-primary-400;
            border: 1px solid var.$color-primary-700;

        }
    }

    &--remove {
        background-color: var.$color-primary-200;
        color: var.$color-primary-800;
        border: 1px solid var.$color-primary-400;

        &:hover,
        &:active {
            background-color: var.$color-primary-400;
            border: 1px solid var.$color-primary-700;
        }
    }

    &--primary {
        background-color: var.$color-primary-300;
        color: var.$color-primary-800;
        border: 1px solid var.$color-primary-400;

        &:hover,
        &:active {
            background-color: var.$color-primary-400;
            border: 1px solid var.$color-primary-700;
        }
    }

    &--search {
        background-color: var.$color-primary-300;
        color: var.$color-primary-800;
        border: 1px solid var.$color-primary-400;

        &:hover,
        &:active {
            background-color: var.$color-primary-400;
            border: 1px solid var.$color-primary-700;
        }
    }
}