@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;
@use '../base/typography';


.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var.$spacing-md;

    &__image {
        width: var.$logo-size;
        height: fit-content;
        margin-bottom: -15px;
    }

    &__title {
        font-size: var.$font-size-xxl;
        font-family: 'LobsterRegular';
    }
}