PORT=3000
HOST=localhost

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your-user-brevo
SMTP_PASS=your-password-brevo
SMTP_RECIPIENT=your-email

MONGODB_URI=mongodb+srv://your-user:your-password@your-cluster/eit-f3-project

CLOUDINARY_CLOUD_NAME=name_cloud
CLOUDINARY_API_KEY=api_key_cloud
CLOUDINARY_API_SECRET=api_secret_cloud
CLOUDINARY_FOLDER=name_folder