@use "@/scss/variables" as var;


.products-table {
    display: flex;
    flex-direction: column;

    width: 90%;

    &__head {
        th {
            color: var.$color-neutro-600;
            font-weight: var.$font-weight-bold;
            font-size: var.$font-size-sm;
        }
    }

    &__body {
        &:hover {
            background-color: var.$color-neutro-300;
        }
        tr {
            width: 100%;
            display: flex;
        }

        td {
            color: var.$color-neutro-800;
            font-weight: var.$font-weight-regular;
            font-size: var.$font-size-sm;
        }

        &-img {
            max-width: 50px;
        }
    }

    &__footer {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: var.$spacing-sm;
    }

    &__total {
        color: var.$color-neutro-800;
        font-weight: var.$font-weight-bold;
        font-size: var.$font-size-sm;
    }

    &__body-actions {
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }

}