@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

header {
    grid-area: header;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;

    background-color: var.$color-primary-200;

}