@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

nav {
  grid-area: navbar;
  position: absolute;
  bottom: 0 + var.$spacing-sm;
  width: 100%;
  justify-content: center;
  display: flex;

  .navbar {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;

    &__item {
      font-weight: var.$font-weight-bold;
      color: var.$color-neutro-900;
      font-size: var.$font-size-md;
      padding: var.$spacing-sm var.$spacing-md;


      &:hover,
      &--active {
        font-weight: var.$font-weight-bold;
        border-bottom: 2px solid var.$color-primary-500;
        color: var.$color-primary-500;
      }
    }
  }
}