* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  color: #212529;
  text-decoration: none;
}

img {
  height: fit-content;
  width: 100%;
}

@font-face {
  font-family: "LobsterRegular";
  src: url("../assets/fonts/lobster-regular.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoMono";
  src: url("../assets/fonts/roboto-mono.ttf") format("truetype");
}
.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #212529;
  padding: 1rem;
  border-radius: 1rem 0 1rem 0;
  margin-bottom: 0;
}
.card__image {
  border-top-left-radius: 0.5rem;
}
.card__title {
  font-size: 1rem;
  font-weight: 700;
  color: #212529;
  min-height: 4rem;
}
.card__code {
  font-size: 0.75rem;
  color: #6c757d;
  text-align: right;
}
.card__description {
  font-size: 1rem;
  color: #343a40;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 4.2em;
  overflow-wrap: break-word;
  text-align: justify;
}
.card__price {
  font-size: 1.25rem;
  font-weight: 700;
  color: #212529;
}
.card__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.25rem;
}
.card__actions .button {
  cursor: pointer;
}

.slider {
  position: relative;
  height: 35vh;
  width: 100%;
  overflow: hidden;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
.slider__slides {
  display: flex;
  height: 100%;
  width: 300%;
  animation: move-slide 15s ease-in-out infinite;
}
.slider__slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.slider__slide-image {
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slider__slide-label {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  font-weight: bold;
  font-size: 2rem;
  z-index: 1;
}
@keyframes move-slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-33.3333333333%);
  }
  45% {
    transform: translateX(-33.3333333333%);
  }
  50% {
    transform: translateX(-66.6666666667%);
  }
  70% {
    transform: translateX(-66.6666666667%);
  }
  75% {
    transform: translateX(-33.3333333333%);
  }
  95% {
    transform: translateX(-33.3333333333%);
  }
  100% {
    transform: translateX(0);
  }
}

.button {
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.25rem;
  border: 1px solid #343a40;
  border-radius: 0.25rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.button--add {
  background-color: #e2c3a8;
  color: #5c3926;
  border: 1px solid #cfa37c;
}
.button--add:hover, .button--add:active {
  background-color: #cfa37c;
  border: 1px solid #7c5032;
}
.button--remove {
  background-color: #e2c3a8;
  color: #5c3926;
  border: 1px solid #cfa37c;
}
.button--remove:hover, .button--remove:active {
  background-color: #cfa37c;
  border: 1px solid #7c5032;
}
.button--primary {
  background-color: #e2c3a8;
  color: #5c3926;
  border: 1px solid #cfa37c;
}
.button--primary:hover, .button--primary:active {
  background-color: #cfa37c;
  border: 1px solid #7c5032;
}
.button--search {
  background-color: #e2c3a8;
  color: #5c3926;
  border: 1px solid #cfa37c;
}
.button--search:hover, .button--search:active {
  background-color: #cfa37c;
  border: 1px solid #7c5032;
}

.title {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: #3b241a;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.form__group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.form__group__label {
  font-size: 0.875rem;
  font-weight: 700;
  color: #3b241a;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.logo__image {
  width: 5rem;
  height: fit-content;
  margin-bottom: -15px;
}
.logo__title {
  font-size: 2rem;
  font-family: "LobsterRegular";
}

body {
  background-color: #f8f9fa;
  height: 100vh;
  display: grid;
  grid-template-areas: "header" "navbar" "main" "footer";
  grid-template-rows: max-content max-content 1fr max-content;
}

footer {
  grid-area: footer;
  background-color: #f1e0d3;
  padding: 0.5rem;
}
footer .copyright {
  color: #343a40;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

header {
  grid-area: header;
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #f1e0d3;
}

main {
  grid-area: main;
  padding: 1rem;
}

nav {
  grid-area: navbar;
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
  justify-content: center;
  display: flex;
}
nav .navbar {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
nav .navbar__item {
  font-weight: 700;
  color: #212529;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
nav .navbar__item:hover, nav .navbar__item--active {
  font-weight: 700;
  border-bottom: 2px solid #b98350;
  color: #b98350;
}

.page-home {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.page-home .featured-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  background-color: rgba(204, 204, 204, 0.4666666667);
  border-radius: 2rem 0;
}

.page-about-us .approaches-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.page-about-us .approaches-container .mission,
.page-about-us .approaches-container .vision,
.page-about-us .approaches-container .values {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: rgba(204, 204, 204, 0.4666666667);
}
.page-about-us .approaches-container .mission__title,
.page-about-us .approaches-container .vision__title,
.page-about-us .approaches-container .values__title {
  color: #212529;
  font-size: 1.25rem;
  font-weight: 700;
  padding-bottom: 0.25rem;
  font-family: "RobotoMono";
}
.page-about-us .approaches-container .mission__description,
.page-about-us .approaches-container .vision__description,
.page-about-us .approaches-container .values__description {
  color: #343a40;
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
  font-family: "RobotoMono";
}
.page-about-us .approaches-container .mission__description p,
.page-about-us .approaches-container .mission__description ul li,
.page-about-us .approaches-container .mission__description ul li strong,
.page-about-us .approaches-container .vision__description p,
.page-about-us .approaches-container .vision__description ul li,
.page-about-us .approaches-container .vision__description ul li strong,
.page-about-us .approaches-container .values__description p,
.page-about-us .approaches-container .values__description ul li,
.page-about-us .approaches-container .values__description ul li strong {
  font-size: 1rem;
  text-align: justify;
  font-family: "RobotoMono";
  padding: 0.25rem;
}
.page-about-us .approaches-container .mission__description p,
.page-about-us .approaches-container .vision__description p,
.page-about-us .approaches-container .values__description p {
  padding: 1rem 0;
}
.page-about-us .approaches-container .mission__image,
.page-about-us .approaches-container .vision__image,
.page-about-us .approaches-container .values__image {
  border-radius: 1rem;
  height: fit-content;
  width: 35%;
  margin: 0 0.5rem 0.25rem 0;
}
.page-about-us .approaches-container .vision {
  flex-direction: row-reverse;
  background-color: transparent;
}
.page-about-us .approaches-container .vision__image {
  margin: 0 0 0.25rem 0.5rem;
}

.page-contact {
  width: 100vw;
}
.page-contact .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.page-contact .content .query-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(204, 204, 204, 0.4666666667);
  padding: 2rem;
  border-radius: 1rem 0;
  max-width: 650px;
}
.page-contact .content .query-form__title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #3b241a;
  text-align: center;
}
.page-contact .content .query-form .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page-contact .content .query-form .form .form__group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.page-contact .content .query-form .form .form__group input {
  width: 80%;
  padding: 0.5rem;
  border: 1px solid #7c5032;
  border-radius: 0.5rem;
  font-size: 1rem;
}
.page-contact .content .query-form .form .form__group textarea {
  width: 600px;
  max-width: 100%;
  max-height: 200px;
  height: 150px;
  padding: 0.5rem;
  border: 1px solid #7c5032;
  border-radius: 0.5rem;
  font-size: 1rem;
}
.page-contact .content .contact-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.page-contact .content .contact-data__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid #7c5032;
  border-radius: 1rem 0;
}
.page-contact .content .contact-data__item {
  font-size: 0.875rem;
  font-weight: 700;
  color: #3b241a;
}

.page-products__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-products__head .searcher__word {
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 0.25rem;
}
.page-products .gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}